<nav class="navbar navbar-expand navbar-light bg-light">
  <a href="" class="navbar-brand">{{title}}</a>
  <ul class="nav nav-pills">
    <li><a href="" class="nav-link">fsdf</a></li>
    <li><a href="" class="nav-link">sdfsdf</a></li>
  </ul>
</nav>
<div class=>
  <div class="row">
    <div class="col-2">
      <hvtd-left-block></hvtd-left-block>
    </div>
    <div class="col-8">
      Area 2
      <hvtd-main-block></hvtd-main-block>
    </div>
    <div class="col-2 ">
      Area 33
      <hvtd-right-block></hvtd-right-block>
    </div>
  </div>
</div>

